# LiveKit dependencies
livekit>=0.18.3
livekit-agents>=0.1.0


python-dotenv>=1.0.0
functions-framework==3.4.0
aiohttp~=3.10.0
websockets~=12.0

google-generativeai>=0.3.1
requests>=2.31.0
asyncio>=3.4.3